* {
    box-sizing: border-box;
}

/*For layout------------*/ 

/*.mydot {
	border-style: dotted;	
}*/

/*div {
  border-style: dotted;
}*/

body {
  	background-color:#eee;
  	font-family: Gill Sans;
  	margin:0;
  	font-size: 100%;
}

.explore {
    margin-left: 0em;
    margin: -10%;
    width: 18em;
    height: 8em;
    /*transform: translate(10%,-30%);*/
    transition: transform .2s;
}

.explore:hover {
    transform: scale(1.2); 
}


.first-header {
    background-color: #ffd5bb8c;
    padding: 0em 12em;
    height: 5em;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.flex-child {  
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,200%);
}

img.logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%,0%);
    height: 80px;
}

.home-logo {
    display: flex;
    height: 70px;
    display: flex;
    position: relative;
    transform: translate(-70%,0%);
}

.view-window-full {
    height: 100vh;
    position: relative;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/*For web layout (700px-more)----------*/

@media (min-width: 700px) {
    .explore {
      margin: -20%;
      margin-bottom: -8%;
      width: 25em;
      height: 10em;
    }

	  .leading {
	    display: flex;
	    align-items: center;
    }

    .home-logo {
      position: absolute;
      left: 50%;
      top: 5%;
      transform: translate(-50%,0%);
    }

    .flex-child { 
      width: 35%;
      top: 50%;
      position: absolute;
      transform: translate(-110%,340%);
    }
}

@media (min-width: 1000px) {
    .explore {
      margin-bottom: -2%;
    }
}

.searchcart img{
    height: 20px;
    margin: -5px;
    vertical-align: middle;
}
.searchcart input{
    width:150px;
    border: 1px solid #ccc;
    padding: 5px 0 5px 35px;
    background-image: url('../images/if_70_171429.png');
    background-repeat: no-repeat;
    background-size: 25px;
    border-radius: 1em;
}



/*HOME PAGE.....................................................................................*/

a {
   text-decoration:none;
}

.space {
    height: 8em;
}

.home-header {
	  background-color: #ffd5bb;
    padding: 0em 1em;
    height: 7em;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.flex-parent-home {
	  display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-10%,0%);
}

.flex-parent2 {
    display: flex;
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%,0%);
}

.leading-bigtext {
    font-weight: bold;
    font-size: 10vw;
    margin-left: 10%;
    width: 100%;
    color: #fda085;
}


.leading-text {
    max-width: 80%;
    font-size: 1.1em;
    line-height: 1.6em;
    margin: 10%;
    box-shadow: 0 0 5px 30px rgba(250, 250, 250, 0.46);
    background-color: rgba(250, 250, 250, 0.68);
    text-shadow: 0px 0px 0px black;
    color: #20427b;
}

.list-product {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 10%;
}

.list-product-box {
    position: relative;
    left: 50%;
    transform: translate(-50%,-5%);
}

/*For web layout (700px-more)------------*/

@media (min-width: 700px) {
	  .home-header {
		  background-color: #ffd5bb;
	    padding: 0em 1em;
	    position: fixed;
	    width: 100%;
	    z-index: 10;
    }

    .flex-parent-home {
      display: flex;
      padding-top: 25px;
      position: absolute;
      transform: translate(100%,0%);
      left: 45%;
    }

    .space {
    	height: 9em;
	  }

    .leading-bigtext {
      font-size: 4vw;
      margin-left: 3%;
      width: 100%;
    }

    .leading-text {
      max-width: 80%;
      font-size: 1.2em;
      line-height: 1.6em;
      margin: 10%;
    }

    .list-product {
      display: inline-block;
      margin-bottom: 5%;
      position: relative;
      left: 50%;
      transform: translate(-50%,0%);
    }

    .list-product-box {
      width: 50%;
    }
}

@media (min-width: 1200px) {

    .flex-parent-home {
      display: flex;
      padding-top: 25px;
      position: absolute;
      transform: translate(200%,0%);
    }
}

/*main {
	margin-top: 100px;
}*/

.cards {
  max-width: 960px;
  margin: 50px auto 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 50px;
}

.leading {
  margin: 0;
  height: 400px;
  margin-bottom: 30px;
  padding: 10px;
  color: white;
  background: url('../images/home1.png') center #333 no-repeat;
  background-size: cover;
  color: white;
  text-shadow: 0px 0px 5px #000;
}

article {
  position: relative;
}

.article-img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.article-title {
  position: absolute;
  bottom: -15px;
  width: 100%;
  padding: 10px;
  background-color: #fda08578;
  border-radius: 10px;
}

.view-window {
  height:60vh;
  position:relative;
  background-position:center;
  background-size:cover;
  background-attachment: fixed;
}

.view-window>img {
  max-width:calc(100% - 100px);
  max-height:calc(100% - 100px);
}

#bg-first {
  background-image:url('../images/home2.png')
}

.centered-child {
  /*color:white;*/
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  /*width:30%;*/
}


/*Product Page..................................................................................*/
div hr {
    width: 95%;
    margin: 1em 0;
}

.product-list {
   width: 100%;
}

.sections {
    text-align: left;
    margin: -10px;
    margin-left: 2%;    
}

.filter-type {
    font-weight: bold;
    text-align: left;
    margin: 20px;
    margin-left: 0px;
    font-size: 1.2em;
}

.toggle {
    height: 15px;
    width: 20px;
}

.type {
    font-weight: bold;
    text-align: left;
    margin: 30px;
    margin-left: 10px;
    font-size: 1.2em;
}

.media-image {
  max-width:100%;
  vertical-align: middle;
  border-radius: 10px;
}

.product-list {
  position:relative;
  overflow:hidden;
}

/*Image Overlay Fade: w3schools.com*/
.product-list:hover .image {
  opacity: 0.3;
}

.product-list:hover .middle {
  opacity: 1;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.text {
  background-color: #fcc5a4b3;
  color: black;
  font-size: 16px;
  padding: 16px 32px;
  border-radius: 10px;
}

.product-description {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.6);
  transform: translateY(100%);
  transition:all 1s;
}
.product:hover .product-description {
  transform: translateY(0);
  transition:all 0.3s;
}
/*---------------Image Overlay Fade end*/

.centered-child-product {
    position:absolute;
    top:20%;
    left:50%;
    transform:translate(-50%,-50%);
}

.cart-value {
    position: relative;
}

/*product card------------------------------*/
.card-bottom {
    position: absolute;
    margin-top: 15px;
    left: 50%;
    transform: translate(-50%,0%);;
}

.card-text {
    font-size: 16px;
    /*font-weight: 900;*/
    color: #000;
    /*margin: 0px 50px 0px;*/
    text-align: center;
    margin: 10px;

}

.price-section {
    text-align: center;
}

.button-cart {
    width: 140px;
    margin: 10px 0px;
    border-radius: 30px;
}

.button-cart.action {
    box-shadow: 3px 3px 0 #f5ea77;
    /*transition: none*/;
    color: #FFF;
}

.button-cart {
    line-height: 1rem;
    transition: all .15s ease;
    font-size: 14px;
    background-color: #f5ea77;
    color: #000;
    text-transform: uppercase;
    border: none;
    box-shadow: 3px 3px 0 #73d2e6;
    border-radius: 0;
    outline: 0;
    padding: 13px 0;
    height: 40px;
    min-width: 225px;
}

.button-cart {
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
}

/*For web layout (700px-more)------------*/

@media (min-width: 700px) {
    div hr {
      width: 98%;
    }

    .sections {
      margin: 20px;
      margin-left: 50px;
    }

    .card-bottom {
      position: absolute;
      margin: 55px;
      margin-top: 10px;
      left: auto;
      transform: translate(0%,0%);
    }

    .button-cart {
    padding: 10px 0;
    height: auto;
    min-width: 165px;
    }
}

/*Gradient Buttons with Background-Color Change (CSS-only)-https://codepen.io/pirrera/pen/bqVeGx*/

.btn-1 {
  transition: 0.5s; /*???????*/
  text-align: center;
  text-transform: uppercase; 
  background-size: 200% auto;
  color: white;
  text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
 }


.btn-1:hover {
  background-position: right center; /* change the direction of the change here */
}

.btn-1 {
  background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
}

/*single page..................................................................................................*/
.single-img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.single-textbox {
    margin-top: -70px;
    float: right;
}

@media (min-width: 700px) {
    .single-img {
      width: 95%;
      margin-left: 0px;
      height: 500px;
    }

    .single-textbox {      
      position: absolute;
      margin: 5%;
      margin-top: 5px;
    }

    .single-img-similar {
      max-width: 200% !important;
    }

    .card-single-small,.card-single-small-none {
      height: 125% !important;
    }
}

.card-single {
    background-color: rgb(250,250,250);
    padding: 1em;
    box-shadow: 0 2px 1px rgba(0,0,0,0.1);
    border-radius: 10px;
}

.card-single-small, .card-single-small-none{
    background-color: rgb(250,250,250);
    padding: 1em;
    box-shadow: 0 2px 1px rgba(0,0,0,0.1);
    border-radius: 10px;
    height: 93%;
    margin: 2%;
}

/*.card-single-small-none {
    background-color: rgb(250,250,250);
    padding: 1em;
    box-shadow: 0 2px 1px rgba(0,0,0,0.1);
    border-radius: 10px;
    height: 93%;
    margin: 2%;
    margin-top: 35%;
}*/

@media (max-width: 1200px) {
    .card-single-small-none {
    display: none;
    }
}

.single-title {
    font-weight: bold;
    font-size: 1.2em;
    margin: 20px;
    text-align: left;
}

.single-price {
    font-weight: bold;
    font-size: 1.1em;
    margin: 20px;
    text-align: left;
}

.list-product-single {
    text-align: left;
    width: 80%;
    margin-bottom: 5%;
}

.single-overview {
    font-weight: normal;
    font-size: 1.1em;
    margin: 20px;
    text-align: left;
    margin-bottom: -10px;
}

.btn-2 {
    margin-left: 4%;
    width: 34%;
    transition: 0.5s; /*???????*/
    text-align: center;
    text-transform: uppercase;  
    background-size: 200% auto;
    color: white;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
 }

.btn-2 {
    background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
}

.btn-2:hover {
    background-position: right center; /* change the direction of the change here */
}

.recommend {
    margin-top: 4em;
}

.single-img-similar {
    max-width: 100%;
    vertical-align: middle;
}


/*About Us page......................................................................................*/
.card-cart {
   margin: 0px;
}

.card-story {
    margin-bottom: 0rem;
    padding: 10px;
}

.story-title {
    font-weight: bold;
    margin: 50px;
    text-align: left;
    font-size: 1.2em;
}

.story-text {
    margin: 50px;
    text-align: left;
    margin-top: -25px;
}

.story-img {
    margin-top: 4%;
}

/*cart page..............................................................................................*/


.products {
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-title {
    position: relative;
    font-weight: bold;
    /* margin: 33%; */
    /* text-align: left; */
    font-size: 1.2em;
    padding: 0px;
    width: 250%;
    height: 100%;
    transform: translate(180%,-180%);
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 60%;
    height: 300px;
    /* width: 100%; */
    /* padding: 0px; */
    margin-bottom: 20px;
    border-radius: 10px;
    background: #fda08540;
}


.product span {
  font-weight: bold;
}

.product-img {
    /* width: 120%; */
    height: 250px;
    margin: 20%;
    object-fit: cover;
    border-radius: 10px;

}

.product-add-to-cart {
  overflow: hidden;
  clear: both;
  margin-top: 10px;
}

.add-to-cart {
  /*float: right;*/
}

.shopping-cart {
    position: fixed;
    /*top: 16%;*/
    bottom: 0;
    width: 100%;
    margin-top: 10px;
    padding: 20px;
    background: wheat;
}

.shopping-cart-head {
  background: #a6c1ee;
  color: white;
  padding: 5px;
}

.shopping-cart,
.shopping-cart-head {
  border-radius: 5px;
}

.empty-cart-btn,
.cart-checkout {
  display: none;
  
}

.empty-cart-btn {
  margin-bottom: 5px;
}

.cart-checkout {
  background: #f5ea77;
}

@media (min-width: 700px) {
  .shopping-cart {
      position: fixed;
      top: 21%;
      right: 0px;
      width: 35%;
      margin-right: 20px;
      margin-top: 10px;
      padding: 20px;
      background: wheat;
  }
}










